{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "extension": ["tsx", "ts"],
  "include": [
    "apps/foundation/wink/**",
    "apps/foundation/wink-e2e/**",
    "libs/foundation/wink/core/**",
    "libs/foundation/wink/core/src/components/**/*.tsx",
    "libs/foundation/wink/core/src/components/**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "../../../coverage/**",
    "libs/foundation/wink/core/components/*.ts",
    "libs/foundation/wink/core/components/*.tsx",
    "libs/foundation/wink/core/components/**/*.spec.ts",
    "libs/foundation/wink/core/components/**/*.spec.tsx",
    "libs/foundation/wink/core/components/**/*.data.ts",
    "libs/foundation/wink/core/components/**/*.data.tsx",
    "**/*.spec.ts",
    "**/*.cy.ts",
    "**/*.md",
    "**/*.js",
    "*.js",
    "../../../*.js",
    "../../../customer-web-monorepo/**/*.js",
    "**/*.spec.ts",
    "**/cypress/**",
    "libs/foundation/wink/**/*.svg",
    "libs/foundation/wink/**/*.css",
    "libs/foundation/wink/**/*.scss",
    "libs/foundation/wink/**/*.jpg",
    "libs/foundation/wink/**/*.woff",
    "libs/foundation/wink/**/*.woff2",
    "libs/foundation/wink/**/*.eot",
    "libs/foundation/wink/**/*.ttf",
    "libs/foundation/wink/**/*.ico",
    "libs/foundation/wink/dist/**",
    "libs/foundation/wink/**/*.js",
    "**/*.spec.ts",
    "**/*.json",
    "**/*.mock.ts",
    "libs/foundation/wink/core/dist/**"
  ],
  "reporter": [
    "lcov",
    "cobertura",
    "html-spa",
    "text",
    "json",
    "text-summary"
  ],
  "report-dir": "../../../coverage/apps/foundation/wink-e2e",
  "cwd": "../../../"
}
