<div class="care-page background-shade_04 theme--inherit">
  <div
    class="theme--inherit digital-front-door__wrapper display--grid gap--n align-items--baseline align-items--baseline--md align-items--baseline--sm align-items--start--lg min-height--full-viewport--lg">
    <main>
      <div data-content-selector-id="page-content-id">
        <div id="body-container">
          <div class="container--care mb-50">
            <div class="cmp cmp-responsivegrid">
              <div data-toggle-responsive-grid="" class="theme--inherit tg-grid--padding-no">
                <div class="cmp-responsivegrid__container background-transparent js-grid-content">
                  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
                    <div class="cmp cmp-pay-by-mobile aem-GridColumn aem-GridColumn--default--12">
                      <tg-billing-pay-by-mobile-overview></tg-billing-pay-by-mobile-overview>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
