<div class="py--l py--xxl-sm">
  <div class="cmp cmp-title aem-GridColumn aem-GridColumn--default--12">
    <h1 class="text-align--left heading--1 theme--inherit" tabindex="0">Welcome to Telenet</h1>
  </div>
  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-text theme--inherit">
      <p>We will activate your SIM card. Your old SIM card will continue to work for the time being.</p>
    </div>
  </div>
  <div class="whitespace aem-GridColumn aem-GridColumn--default--12">
    <div class="whitespace whitespace--small"></div>
  </div>
  <div class="cmp cmp-title aem-GridColumn aem-GridColumn--default--12">
    <h4 class="text-align--left heading--4 theme--inherit" tabindex="0">
      Did you choose to transfer your number from another operator?
    </h4>
  </div>
  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-text theme--inherit">
      <p>Within 24 hours, you will receive a text message from Telenet to say that your number is active.</p>
      <p>Then follow these steps:</p>
      <ol>
        <li>Turn off your phone</li>
        <li>Exchange your old SIM card for your new one</li>
        <li>Enter the PIN code and you're good to go!</li>
      </ol>
    </div>
  </div>
  <div class="cmp cmp-title aem-GridColumn aem-GridColumn--default--12">
    <h4 class="text-align--left heading--4 theme--inherit" tabindex="0">
      Do you have a new number or do you remain a Telenet customer with a new SIM card?
    </h4>
  </div>
  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-text theme--inherit">
      <p>Insert your new SIM card into your phone. You can get started within a few minutes!</p>
    </div>
  </div>
  <div class="cmp cmp-title aem-GridColumn aem-GridColumn--default--12">
    <h4 class="text-align--left heading--4 theme--inherit" tabindex="0">Not working?</h4>
  </div>
  <div class="text aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-text theme--inherit">
      <p>Liep er iets mis? <a href="/nl/klantenservice/contacteer-telenet/">Did something go wrong? Contact us</a></p>
    </div>
  </div>
</div>
