<div class="row">
  <div class="col-xs-12 background-shade_04 p--l mt--m">
    <ng-container>
      <div
        class="display--flex justify-content--between cursor--pointer align-items--center"
        (click)="toggleVisibilityFeature(!showFeature)">
        <span class="text-font-family--t7">
          {{ 'ng.fleet-user-product-overview.lbl.feature-included' | translate }}
        </span>
        <i
          *ngIf="!showFeature"
          class="icon icon-md icon-chevron-down product-overview__icon-section"
          [attr.data-cy]="'dropdown'"></i>
        <i *ngIf="showFeature" class="icon icon-md icon-chevron-up product-overview__icon-section"></i>
      </div>
    </ng-container>
    <div *ngIf="showFeature">
      <div>
        <span class="text-font-family--t7"></span>
        <div>
          <div
            *ngIf="product.productInfo.isShowRates()"
            class="pt--xs"
            [ngClass]="{ 'pre-paid': product.productInfo.hasCategory(PREPAID_MOBILE) }">
            <span>
              {{ product.productInfo.name }}
            </span>
            <div
              class="display--flex--md justify-content--between pt--xs"
              *ngFor="let rate of product.productInfo.rates">
              <div>
                {{ 'ng.fleet-user-product-overview.lbl.' + rate.type | lowercase | translate }}
              </div>
              <div class="text-weight--l mt--n--md mt--xxs">
                <span>
                  {{
                    'ng.fleet-user-product-overview.text.specifications-for-base-zero-value'
                      | translate: { amount: rate.cost }
                  }} </span
                >/
                <span>
                  {{
                    'ng.fleet-user-product-overview.text.specifications-for-base-zero-unit'
                      | translate: { unit: rate.unit }
                  }}
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="!product.productInfo.isShowRates() && product.productInfo.services?.length">
            <tg-product-level-specifications
              [product]="product"
              [isBundle]="isBundle"></tg-product-level-specifications>
          </div>
          <div *ngIf="product.identifier && product.productType === 'mobile' && isBundle" class="pt--xs">
            <span class="text-font-family--t7">
              {{ 'ng.fleet-user-product-overview.text.available-numbers' | translate }}
            </span>
            <div class="pt--m" *ngIf="!product.mobileIdentifier?.length">{{ product.identifier | phoneNumber }}</div>
            <ng-container *ngIf="product.mobileIdentifier?.length">
              <div *ngFor="let line of product.mobileIdentifier">
                <div class="display--flex mt--m align-items--center">
                  <div>{{ line.identifier | phoneNumber }}</div>
                  <div class="pl--s" *ngIf="line.eSimStatus === 'Active'">
                    <span class="status-indicator status-indicator--positive">
                      {{ 'ng.fleet-user-product-overview.lbl.esim-active' | translate }}
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div *ngIf="product?.handsets?.length">
            <div *ngFor="let handset of product.handsets">
              <div class="mt--xs text-weight--l">
                {{ 'ng.fleet-user-product-overview.text.contract-information' | translate }}
              </div>
              <div class="row display--flex--md justify-content--between pt--xs line-height--24">
                <div class="col-md-10 col-xs-12">
                  {{ 'ng.fleet-user-product-overview.text.contract-duration' | translate }}
                </div>
                <div class="col-md-2 col-xs-12 text-align--right--md text-weight--l mt--n--md mt--xxs">
                  <span
                    >{{ handset.contract.duration }} {{ 'ng.fleet-user-product-overview.lbl.months' | translate }}</span
                  >
                </div>
              </div>
              <div class="row display--flex--md justify-content--between pt--xs line-height--24">
                <div class="col-md-10 col-xs-12">
                  {{ 'ng.fleet-user-product-overview.text.contract-obligationEndDate' | translate }}
                </div>
                <div class="col-md-2 col-xs-12 text-align--right--md text-weight--l mt--n--md mt--xxs">
                  {{ handset.contract.obligationEndDate | date: 'dd/MM/yyyy' }}
                </div>
              </div>
              <div
                *ngIf="product.hasValidPrice(handset.contract?.price?.earlyTerminationFee)"
                class="row display--flex--md justify-content--between pt--xs line-height--24">
                <div class="col-md-10 col-xs-12">
                  {{ 'ng.fleet-user-product-overview.text.contract-TerminationFee' | translate }}
                </div>
                <div
                  class="col-md-2 col-xs-12 text-align--right--md text-weight--l mt--n--md mt--xxs"
                  *ngIf="handset.contract?.price?.earlyTerminationFee">
                  {{
                    'ng.fleet-user-product-overview.lbl.monetary-amount'
                      | translate: { amount: handset.contract.price?.earlyTerminationFee }
                  }}
                </div>
              </div>
            </div>
          </div>
          <div class="product-overview__hide-base" *ngIf="!product.productType">
            <tg-product-options-specifications
              [services]="product.productInfo.services"></tg-product-options-specifications>
          </div>
        </div>
      </div>
      <tg-product-included-options
        *ngIf="product.hasIncludedOptions || product.contentPacks?.length"
        [product]="product"></tg-product-included-options>
      <tg-product-extra-options *ngIf="product.hasExtraOptions" [product]="product"></tg-product-extra-options>
    </div>
  </div>
</div>
