{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": [
    "**/cypress/**"
  ],
  "reporter": [
    "cobertura",
    "html",
    "json",
    "text",
    "text-summary"
  ],
  "check-coverage": true,
  "include": [
    "libs/sales/etf/feat-etf/**"
  ],
  "report-dir": "../../../../coverage/cypress/sales/feat-etf",
  "cwd": "../../../../"
}
