<div [attr.data-testid]="'feat-appointment'" class="sales-checkout container--medium">
  <div class="sales-page__container__title sales-page__container__title--secondary">
    <div class="display--flex flex-direction--column">
      <div class="sales-page__container__title__header text-align--center--md text-align--left">
        {{ 'ng.sales-checkout.lbl.title.reserve-appointment' | translate }}
      </div>
      <p class="text-align--center--md text-align--left">
        {{ 'ng.sales-checkout.lbl.sub-title.reserve-appointment' | translate }}
      </p>
    </div>
  </div>
  <div
    class="row m--auto pl--xxxs pr--xxxs pl--n--md pr--n--md flex-direction--row--md flex-direction--column-reverse horizontal-center-align">
    <div class="col-sm-12 sales-checkout">
      <div>
        <div class="stepper-page__body-inner p-0">
          <div class="stepper-page__content--split container mobile-lines">
            <div class="stepper-page__content-first flex-hide-until-md position--sticky--md position--top--md">
              @if (viewModel) {
                <div
                  [inlineSVG]="viewModel.stepImage"
                  [resolveSVGUrl]="false"
                  class="stepper-page__content-first flex-hide-until-sm"></div>
              }
            </div>
            <div class="stepper-page__content-second">
              <div class="stepper-move" id="undefined">
                <div class="text-flow text-flow--label stepper-page__title-label m-0"></div>
                <div>
                  <div class="sales-flow">
                    <!-- put the features here-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
