{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": ["**/cypress/**"],
  "reporter": ["json", "cobertura", "html-spa", "text-summary", "text"],
  "check-coverage": true,
  "include": [
    "../entertainment-mfe/**",
    "../entertainment-e2e/**",
    "../../../libs/activate/entertainment/dtv-box-management/**"
  ],
  "report-dir": "../../../coverage/apps/activate/entertainment-mfe-e2e",
  "cwd": "../../../"
}
