{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": ["**/cypress/**"],
  "reporter": ["cobertura", "html", "json", "text", "text-summary"],
  "check-coverage": true,
  "include": ["apps/<%= mfeName %>/**", "<%= libUiPath %>/**"],
  "report-dir": "<%= offsetFromRoot %>coverage/cypress/<%= libUiPath %>",
  "cwd": "<%= offsetFromRoot %>"
}
