{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": [
    "**/cypress/**"
  ],
  "reporter": [
    "cobertura",
    "html",
    "json",
    "text",
    "text-summary"
  ],
  "check-coverage": true,
  "include": [
    "libs/shared/page/**"
  ],
  "report-dir": "../../../coverage/cypress/page",
  "cwd": "../../../"
}
