<div class="row">
  <div class="col-sm-12 p-0">
    <tg-login [messageGroupName]="messageGroupName" [scopes]="scopes">
      <div class="navigation-content">
        <div class="navigation-content__header">
          <div class="title">
            <i class="header-icon icon-plus"></i>
            <h2>
              {{ 'ng.line-more-details.lbl.more' | translate }}
            </h2>
          </div>
          <p>
            {{ 'ng.line-more-details.lbl.more.overview' | translate }}
          </p>
        </div>
      </div>
    </tg-login>
  </div>
</div>
