{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": [
    "**/cypress/**"
  ],
  "reporter": [
    "cobertura",
    "html",
    "json",
    "text",
    "text-summary"
  ],
  "check-coverage": true,
  "include": [
    "apps/sales/sales-mfe/**",
    "libs/sales/shared/feature-sales-stepper/**"
  ],
  "report-dir": "../../../../coverage/cypress/sales/shared/sales-stepper",
  "cwd": "../../../../"
}
