{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": [
    "**/cypress/**"
  ],
  "reporter": [
    "cobertura",
    "html",
    "json",
    "text",
    "text-summary"
  ],
  "check-coverage": true,
  "include": [
    "apps/sales/sales-mfe/**",
    "libs/sales/product-finder/feat-intro/**"
  ],
  "report-dir": "../../../../coverage/cypress/sales-product-finder/intro",
  "cwd": "../../../../"
}
