<div class="mt--m">
  <span class="text-font-family--t7">{{ 'ng.product-overview.lbl.extra-options-added' | translate }}</span>
  <div *ngFor="let option of options">
    <div *ngIf="!option.isIncludedOption" class="pt--xs">
      <div>
        <span *ngIf="option.activeOptions">{{ option.activeOptions + ' ' }}</span>
        <span [attr.data-cy]="'extraOptionLabel'">{{ option.label }}</span>
      </div>
      <tg-product-options-specifications [services]="option?.productInfo?.services"></tg-product-options-specifications>
    </div>
  </div>
</div>
