<ng-container>
  <div [attr.data-testid]="'feat-summary'" class="sales-page__container" id="body-container">
    <div class="sales-page__container__content">
      <div class="sales-page__container__content__section width--full">
        <div>
          <div class="sales-checkout container--medium">
            <div class="sales-page__container__title sales-page__container__title--secondary">
              <div class="display--flex flex-direction--column">
                <div class="sales-page__container__title__header text-align--center--md text-align--left">
                  {{ 'ng.sales-checkout.lbl.title.order-confirmation' | translate }}
                </div>
                <p class="text-align--center--md text-align--left">
                  {{ 'ng.sales-checkout.lbl.sub-title.order-confirmation' | translate }}
                </p>
              </div>
            </div>
            <div
              class="order-confirmation-section row m--auto pl--xxxs pr--xxxs pl--n--md pr--n--md flex-direction--row--md flex-direction--column-reverse sales-review-container">
              <div class="col-sm-12 col-md-5">
                <div class="order-confirmation-section mb--xxg pb--xxl--md ng-star-inserted">
                  <tg-sales-order-configurator-contact-info-feat-contact-info-summary></tg-sales-order-configurator-contact-info-feat-contact-info-summary>
                  <tg-sales-ui-installation-address-summary></tg-sales-ui-installation-address-summary>
                  <tg-order-configurator-delivery-feat-delivery-summary></tg-order-configurator-delivery-feat-delivery-summary>
                </div>
              </div>
              <div class="col-md-7 col-sm-12 mb--xxg--md pb--xxg--md ng-star-inserted">
                <div
                  class="position--sticky--md sticky-header-shopping-cart position--top--md"
                  id="sticky-header-shopping-cart"
                  style="top: -257px"></div>
                <div class="sales-cart m-0">
                  <div
                    class="background-white display--flex align-items--center justify-content--between p--l border--b--r border-width--b--r border-style--b--solid border-color--b--light-grey">
                    <h4 class="heading--nomargin">
                      {{ 'ng.sales-checkout.order-confirmation.your-order.title' | translate }}
                    </h4>
                    <!--      <p class="font&#45;&#45;caption color-black" *ngIf="prices?.vatInclusive">-->
                    <!--        {{ 'ng.sales-checkout.shopping-cart.lbl.all-prices-inclusive-vat' | translate }}-->
                    <!--      </p>-->
                    <p class="font--caption color-black">
                      {{ 'ng.sales-checkout.shopping-cart.lbl.all-prices-exclusive-vat' | translate }}
                    </p>
                  </div>
                  <div class="sales-cart__section sales-cart-row--shadow mb-0">
                    <tg-order-configurator-order-feat-totals-summary></tg-order-configurator-order-feat-totals-summary>
                    <div class="mt-10">
                      <div class="width--full color-black pb-0">
                        <tg-order-configurator-order-feat-order-items-summary></tg-order-configurator-order-feat-order-items-summary>
                      </div>
                    </div>
                  </div>
                </div>
                <tg-sales-summary-footer></tg-sales-summary-footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
