{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": [
    "**/cypress/**"
  ],
  "reporter": [
    "json",
    "lcov",
    "html",
    "text"
  ],
  "check-coverage": true,
  "include": [
    "apps/install/product-journey-mfe/**",
    "libs/install/product-journey/appointments/feat-appointment-card/**"
  ],
  "report-dir": "../../../../../coverage/cypress/product-journey-mfe/appointments/feat-appointment-card",
  "cwd": "../../../../../"
}
