{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": [
    "**/cypress/**"
  ],
  "reporter": [
    "cobertura",
    "html-spa",
    "text",
    "json",
    "text-summary"
  ],
  "check-coverage": true,
  "include": [
  "../care-service-cases-mfe/**",
  "../care-service-cases-mfe-e2e/**",
  "../../../libs/engagement/care-service-cases/**"
  ],
  "report-dir": "../../../coverage/apps/engagement/care-service-cases-mfe-e2e",
  "cwd": "../../../"
}
