{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": [
    "**/cypress/**"
  ],
  "reporter": [
    "cobertura",
    "html",
    "json",
    "text",
    "text-summary"
  ],
  "check-coverage": true,
  "include": [
    "apps/foundation/general-mfe/**",
    "libs/foundation/general/search/inpage-search/**"
  ],
  "report-dir": "../../../../../coverage/cypress/general/search/inpage-search",
  "cwd": "../../../../../"
}
