{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "compact": false,
  "merge": true,
  "exclude": ["**/cypress/**"],
  "reporter": ["cobertura", "html", "json", "text", "text-summary"],
  "check-coverage": true,
  "include": ["apps/topup-mfe/**", "libs/base-payments/topup/feature-topup/**"],
  "report-dir": "../../../../coverage/cypress/base-payments/topup/topup",
  "cwd": "../../../../"
}
